* {
  box-sizing: border-box;
  letter-spacing: 1px;
}

html, body {
  width: 100%;
  height: 100%;
}

img, embed, object, video {
  max-width: 100%;
}

nav, a, button {
  min-height: em(48px);
}

h1, h2, h3, h4 {
  font-family: $merriweather;
}

span, p {
  font-family: $sans;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: inline-block;
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

