/* ----- HEADER SECTION -----*/

#header-section {
  /*background: linear-gradient(to top, $gradient, $gradient), url('../../img/skydive.jpg');  */     
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/skydive-texture.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  padding: 5em 0;
  height: em(500px);
  @media screen and(min-width: 775px) {
      padding: 0;
      height: em(700px);
  }

  .hamburger {
    width: 3em;
    padding: 0.5em;
    position: absolute;
    right: 1em;
    bottom: 6em;
    @media screen and(min-width: 775px) {
      bottom: 2em;
    }
    @media screen and(min-width: 950px) {
      display: none;
    }
  }

  #logo {
    width: 4em;
    margin-top: 3em;
    display: block;
    margin: 0 auto;
    @media screen and(min-width: 775px) {
      display: inline-block;
    }
  }

  .nav-section {
    width: 100%;
    position: relative;
    @media screen and(min-width: 775px) {
      padding: 0.5em 2em;
    }

    nav {
      width: 300px;
      position: absolute;
      bottom: -21.9em;
      height: em(500px);
      -webkit-transform: translate(-300px, 0);
              transform: translate(-300px, 0);
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      background-color: #32b8bc;
      z-index: 999;
      padding-top: 3em;
      @media screen and(min-width: 775px) {
        -webkit-transform: translate(-335px, 0);
                transform: translate(-335px, 0);
        bottom: -31.8em;
        height: em(600px);
      }
      @media screen and(min-width: 950px) {
        display: none;
      }

      .hidden-nav {
        width: 10em;
        margin: 0 auto;
      }

      ul > li {
        display: block;
        margin: 0 auto 1em 0;
        text-align: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 1em;

        a {
          color: #fff;
          font-size: 1.5em;
          font-weight: 200;
          letter-spacing: 2px;
        }
      }

      ul > li:last-child {
        border-bottom: none;
      }
    }

    .nav-open {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      @media screen and(min-width: 775px) {
        -webkit-transform: translate(-33px, 0);
                transform: translate(-33px, 0);
      }
    }

}

  #nav-links {
    display: none;
    @media screen and(min-width: 951px) {
      display: inline-block;
      float: right;
    }

    li {
      margin-right: 1.5em;
    }

    a {
      color: #fff;
      font-family: $sans;
      font-weight: 200;
      padding: 0.85em 0;
    }

    li > a:hover {
      border-bottom: 2px solid #lightgreen;
    }
  }

  #header-content {
    color: #fff;
    text-align: center;
    @media screen and(min-width: 775px) {
      margin-top: 9em;
    }

    h1 {
      font-weight: 400;
      font-size: 2.5em;
      position: relative;
      margin-bottom: 0;
      @media screen and (min-width: 775px) {
        font-size: 3em;
      }
      @media screen and (min-width: 950px) {
        font-size: 4em;
        font-weight: 200
      }
    }

    h3 {
      font-family: $sans;
      font-weight: 200;
      font-size: 1.5em;
      margin: 0 0 2em 0;
    }

    .contact-btn:hover {
      background-color: $lightgreen;
      transition: 1s ease;
    }
  }

  #nav-links > li > a:hover {
    color: $lightgreen;
    transition: 0.5s ease;
  }
}

/* -------------PORTFOLIO SECTION----------------- */

#portfolio-section { 
  padding: em(50px) 0 em(70px) 0;

  h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
  }

  #btn-box {
    width: em(277px);
    margin: 0 auto;
    margin-top: 3em;

    #portfolio-btn {
      background-color: $lightgreen;
      padding: 0.75em 5em;
      text-align: center;
    }

    #portfolio-btn:hover {
      background-color: #4ed8b8;
    }

  }

  #yoda-detail, #snack-detail, #quiz-detail, 
  #countries-detail, #band-detail, #flick-detail,
  #wait-detail, #abg-detail, #flappy-detail,
  #portraits-detail, #grocery-detail, #hot-detail {
    width: 100%;
    background: url('../../img/detail-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 0%;
    opacity: 0;
    position: relative;
    @media screen and (min-width: 1050px) {
      width: em(1150px);
      margin: 0 auto;
      margin-bottom: 2em;
      margin-top: 2em;
      padding: 3em 0em 3em 3em;
    }

    .cancel {
      width: 2em;
      position: absolute;
      right: 1em;
      top: 1em;
      @media screen and (max-width: 715px) {
        width: 1.5em;
        top: 0.5em;
        right: 0.5em;
      }
    }

    .detail-text, .detail-img {
      margin: 0 auto;
      opacity: 0;
      @media screen and (min-width: 850px) {
        width: 50%;
      }
    }

    .detail-img img {
      border-radius: 5px;
      border: 1px solid #fff;
    }

    .detail-text {
      @media screen and (min-width: 850px) {
        padding-left: 5em;
      }
    }

    p {
      color: #fff;
      font-weight: 200;
      line-height: 1.7;
      @media screen and (min-width: 510px) {
        width: em(500px);
      }
      @media screen and (min-width: 850px) {
        width: em(400px);
      }
    }

    span {
      position: absolute;
      color: #eee;
      right: 1em;
      top: 0.5em;
    }
    
    a {
      background-color: $lightgreen;
      color: #fff;
      padding: 0.75em 3em 0.5em 3em;
      width: em(170px);
      display: block;
      margin: 0 auto;
      @media screen and (min-width: 850px) {
        margin: 0;
        margin-top: 1em;
      }
    }
  }
}

/* ----------------------ABOUT ME SECTION------------------------*/

#about-section {
  background: linear-gradient(to top, $gradient, $gradient), url('../../img/header-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5em 0.5em;
  height: em(600px);

  #about-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /*width: em(600px);*/

    h2 {
      font-size: 2em;
      color: $lightgreen;
      margin-bottom: 0;
    }

    h3 {
      width: 100%;
      line-height: 1.5;
      font-weight: 200;
      color: #fff;
      font-family: $sans;
      margin-bottom: 2em;
      @media screen and (min-width: 530px) {
        width: em(375px);
        margin: 0 auto;
      }
    }

    #about-btn {
      padding: 0.75em 3em;
    }
  }

  #about-transition {
    width: em(100px);
    display: block;
    margin: 0 auto;
    position: relative;
    top: 12.5em;
    @media screen and (min-width: 775px) {
      
    } 
    @media screen and (min-width: 504px) {
      top: 16.8em;
    } 
    @media screen and (min-width: 400px) and (max-width: 504px) {
      top: 14.35em;
    } 
  }
}

/*----------------------FOOTER SECTION-------------------*/

footer {
  height: em(150px);
  background-color: #222;
  padding-top: 2em;

  ul {
    width: 9em;
    margin: 0 auto;
    
    li {
      margin-right: 0.75em;

      img {
        width: 2em;
      }
    }
  }

  p {
    text-align: center;
    color: #ccc;
  }
}

